<footer>
    <div class="d-flex content-center items-center d-flex-r flex-flow-w news-letter">
        <div class="text-white t-18">News letters</div>
        <div class="form_wrapper">
            <input type="email" name="email" id="email" placeholder="Enter your email address" />
            <button>
                <i class="fi fi-rr-paper-plane"></i>
            </button>
        </div>
    </div>
    <div class="nav">
        <a class="nav-item">HTML Design</a>
        <a class="nav-item">WP  Themes</a>
        <a class="nav-item">CMS Themes</a>
        <a class="nav-item">eCommerce</a>
        <a class="nav-item">Blogging</a>
        <a class="nav-item">UI Templates</a>
    </div>
    <div class="copyright"><i class="fi fi-rr-copyright"></i>2021 JS Template. Designd By Ojjomedia All Rights Reserved</div>
</footer>
