<div class="row m-0 p-0 m-pt-50 m-px-0 pt-15 px-10 w-100">
    <div class="col-12 p-0 col-m-10 col-l-9 col-xl-8 col-center">
        <div class="row m-0 p-0">
            <div class="col-12 col-l-6 px-0 py-auto m-0">
                <div class="description">
                    <div class="title">
                        <span>World Top</span>
                        &nbsp;<span>Themes</span>
                        <span>Plugins & Templates</span>
                    </div>
                    <div class="help">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nam possimus, perferendis eius
                        soluta sint quaerat molestias commodi quas dicta ipsum, adipisci temporibus saepe, quibusdam
                        debitis officiis dignissimos nostrum tenetur.
                    </div>
                    <div class="search-warpper">
                        <input type="search" name="search" id="search" placeholder="Enter something to search..." />
                        <button>
                            <svg viewBox="0 0 18 18" fill="none">
                                <path
                                    d="M13.5233 12.4628L16.7355 15.6743L15.6743 16.7355L12.4628 13.5233C11.2678 14.4812 9.7815 15.0022 8.25 15C4.524 15 1.5 11.976 1.5 8.25C1.5 4.524 4.524 1.5 8.25 1.5C11.976 1.5 15 4.524 15 8.25C15.0022 9.7815 14.4812 11.2678 13.5233 12.4628ZM12.0188 11.9063C12.9706 10.9274 13.5022 9.61532 13.5 8.25C13.5 5.349 11.1503 3 8.25 3C5.349 3 3 5.349 3 8.25C3 11.1503 5.349 13.5 8.25 13.5C9.61532 13.5022 10.9274 12.9706 11.9063 12.0188L12.0188 11.9063Z"
                                    fill="white"
                                />
                            </svg>
                            <span>Search</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-0 col-l-6 p-0 m-0">
                <div class="image">
                    <app-image></app-image>
                </div>
            </div>
        </div>
    </div>
</div>
